*{
    color: #fff;
    background-color: #000;
}

nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.nav{
    text-decoration: none;
    font-size: 16px;
    padding: 6px;
    border: lime 2px solid;
    border-radius: 9px;

}

.nav:hover{
    color: lime;
    border:black 2px solid;
}

.img1{
    padding: 2px;
    margin: 30px;
    float: left;
    border-radius: 30%;
    border: lime 6px solid;
}

.page{
    margin:4px;
    padding:4px;
    height: auto;
    width: auto;
    margin-bottom:10px;
}

img{
    height:400px;
    width:400px;
}